.loginDiv,
.registerDiv {
    animation: transform 1.5s ease-in;
}

.app {
    margin: 10px;
    /* min-height: 100vh;
    width: 100%; */
}

.homeDiv {
    background-image: url("/public/BG_Images/desktop_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 20px);
}

/* .features {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

.filterDiv details {
    background-color: rgb(226, 232, 240);
    padding: 4px;
    border-radius: 4px;
}

@media only screen and (max-width:676px) {
    .filterDiv {
        margin-top: 20px;
    }

    .homeDiv {
        background-image: url("/public/BG_Images/phone_bg.jpg");
    }
}

@media only screen and (min-width:677px) and (max-width:978px) {}

@keyframes transform {
    from {
        transform: translateY(-450px);
    }

    to {
        transform: translateY(0px);
    }
}