.loginDiv,
.registerDiv {
    animation: transform 1.5s ease-in;
}

.homeDiv {
    background-image: url("../public/animated_images/Business\ Tasklist.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 500px 300px;
    background-position-y: top;
}

.features {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.filterDiv details {
    background-color: rgb(226, 232, 240);
    padding: 4px;
    border-radius: 4px;
}

@media only screen and (max-width:676px) {
    .filterDiv {
        margin-top: 20px;
    }
}

@keyframes transform {
    from {
        transform: translateY(-450px);
    }

    to {
        transform: translateY(0px);
    }
}