@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}