@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
  text-align: center;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}